{% extends "shared/layout.html" %}

{% block content %}

{% include 'partials/_background.html' %}

<div class="container d-flex justify-content-center login_container">
    <div class="account_group">
        <form method="post" style="width:100%">
            {% csrf_token %}
            <div class="form-group">
                <p class="account_form_label">{{ form.username.label_tag }}</p>
                <p class="account_form_input">{{ form.username }}</p>
                {% if form.username.errors %}
                <ul class="validation_error">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="account_form_label">{{ form.email.label_tag }}</p>
                <p class="account_form_input">{{ form.email }}</p>
                {% if form.email.errors %}
                <ul class="validation_error">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="account_form_label">{{ form.password1.label_tag }}</p>
                <p class="account_form_input">{{ form.password1 }}</p>
                {% if form.password1.errors %}
                <ul class="validation_error">
                    {% for error in form.password1.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="account_form_label">{{ form.password2.label_tag }}</p>
                <p class="account_form_input">{{ form.password2 }}</p>
                {% if form.password2.errors %}
                <ul class="validation_error">
                    {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <button class="account_form_button" type="submit">Register</button>
        </form>
    </div>

</div>

{% endblock %}