@media (max-width: 768px) {
    .nav_collapse {
        margin: 8px;
    }
}

/************** Theme **************/

:root {
    /* Light Theme */
    --background-color-light: #f1f4f71f;
    --secondary-background-color-light: #52616B;
    --text-primary-color-light: #1E2022;
    --text-highlight-light: #C9D6DF;
    /* Dark Theme */
    --background-color-dark: #222222;
    --secondary-background-color-dark: #dedede;
    --text-primary-color-dark: #00b4db;
    --text-highlight-dark: #ff0303;
}

.lightmode {
    --background-color: var(--background-color-light);
    --secondary-background-color: var(--secondary-background-color-light);
    --text-primary-color: var(--text-primary-color-light);
    --text-highlight-color: var(--text-highlight-light);
}

.darkmode {
    --background-color: var(--background-color-dark);
    --secondary-background-color: var(--secondary-background-color-dark);
    --text-primary-color: var(--text-primary-color-dark);
    --text-highlight-color: var(--text-highlight-dark);
}

/************** Theme **************/


/************** Common **************/

html {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

a, a:after {
    color: var(--text-primary-color);
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        color: var(--text-highlight-color)
    }

/************** Common **************/


/************** Navbar **************/

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: rgba( 0, 0, 0, 0.3 );
    backdrop-filter: blur( 2px );
}
.navbar_right {
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    background: none;
    border: none;
    color: white;
}

    .nav-link:hover {
        background: linear-gradient(to right, #43c6ac, #191654);
        border-radius: 5px;
        border: hidden;
        padding-left: 5px;
        transition: padding 0.3s linear;
        color: white
    }

.navbar-brand {
    padding: 8px;
    background: linear-gradient(to right, #43c6ac, #191654);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: bottom;
}

.navbar_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/************** Navbar **************/
