@media (max-width: 768px) {
    .nav_collapse {
        margin: 8px;
    }
}

/************** Theme **************/

:root {
    /* Light Theme */
    --background-color-light: #f1f4f71f;
    --secondary-background-color-light: #52616B;
    --text-primary-color-light: #1E2022;
    --text-highlight-light: red;

    /* Dark Theme */
    --background-color-dark: #222222;
    --secondary-background-color-dark: #dedede;
    --text-primary-color-dark: wheat;
    --text-highlight-dark: #00b4db;
}

.lightmode {
    --background-color: var(--background-color-light);
    --secondary-background-color: var(--secondary-background-color-light);
    --text-primary-color: var(--text-primary-color-light);
    --text-highlight-color: var(--text-highlight-light);
}

.darkmode {
    --background-color: var(--background-color-dark);
    --secondary-background-color: var(--secondary-background-color-dark);
    --text-primary-color: var(--text-primary-color-dark);
    --text-highlight-color: var(--text-highlight-dark);
}

/************** Theme **************/


/************** Common **************/

html {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

a, a:after {
    color: var(--text-primary-color);
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        color: var(--text-highlight-color)
    }

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    overflow: hidden;
}

/************** Common **************/


/************** Navbar **************/

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: rgba( 0, 0, 0, 0.3 );
    backdrop-filter: blur( 2px );
}

.navbar_right {
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    background: none;
    border: none;
    color: white;
}

    .nav-link:hover {
        background: linear-gradient(to right, #43c6ac, #191654);
        border-radius: 5px;
        border: hidden;
        padding-left: 5px;
        transition: padding 0.3s linear;
        color: white
    }

.navbar-brand {
    padding: 8px;
    background: linear-gradient(to right, #43c6ac, #191654);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: bottom;
}

.navbar_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar_account, .navbar-search {
    display: inline-flex;
    width: 100%;
}
.navbar_login_btn {
    color: wheat;
    border-color: wheat;
    margin-right: 5px;
}

    .navbar_login_btn:hover {
        background: wheat;
        transition: background 0.3s linear;
        border-color: wheat;
        color: black;
    }

.navbar_signup_btn {
    color: white;
}

    .navbar_signup_btn:hover {
        background: linear-gradient(to right, #43c6ac, #191654);
        color: wheat;
    }

.navbar-dropdown {
    position: fixed;
    border: none;
    padding: 0;
    margin-right: 30px;
    margin-top: 1px;
}

    .navbar-dropdown.dropdown-toggle::after {
        display: flex;
        font: 28px FontAwesome !important;
        font-size: large;
        content: "\f142" !important;
        color: white;
        border: none !important;
        width: 100%;
        flex-direction: row;
        align-items: center;
        height: 33px;
        justify-content: flex-end;
    }

.dropdown-text {
    text-align: center;
    background: linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-panel {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.social-icon {
    font-size: 20px;
    background: linear-gradient(#8a2387, #e94057, #f27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .social-icon:hover {
        font-size: 20px;
        background: linear-gradient(to right, #43c6ac, #191654);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.tools-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}
/************** Navbar **************/
