/************* Responsive *************/

@media (max-width: 992px) {
    .topic_list_main {
        flex-direction: column;
        align-items: center;
    }

    .topic_list_filter {
        width: 100% !important;
        margin-bottom: 2rem;
        margin-right: 0px !important;
    }

    .topic_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topic_list_card {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card_img_top {
        max-width: 100%;
        height: auto;
    }
}

/************* Responsive *************/


/************* Topic List *************/

.topic_list_main {
    display: flex;
}

.topic_list_filter {
    width: 420px;
    margin-right: 40px;
}

.list_filter_panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

/* Filter Panel -search */
.filter_panel_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.filter_panel_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter_panel_button {
    background: var(--secondary-background-color);
    border: none;
    color: white;
    height: 30px;
}

.darkmode .filter_panel_button {
    color: black;
}

.filter_panel_button:hover {
    background: linear-gradient(to right, #43c6ac, #191654);
    color: wheat;
}

/* Filter Panel -category */
.filter_panel_category {
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    padding: 10px;
}

.category_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.category_list_item {
    border: 1px solid none;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    padding: 5px;
    margin-bottom: 10px;
}

    .category_list_item:hover a {
        color: wheat;
    }

.darkmode .category_list_item:hover a {
    color: var(--text-highlight-color);
}

.category_list_item:hover {
    background: var(--secondary-background-color);
}

.darkmode .category_list_item {
    box-shadow: 0 2px 8px rgb(256 256 256 / 60%)
}

/* Topic List */
.topic_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
    grid-gap: 20px;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.card_wrapper {
    width: 100%;
    max-width: 220px;
    margin-bottom: 20px;
}

.topic_list_card {
    max-width: 220px;
    height: 182px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

    .topic_list_card:hover {
        box-shadow: 0 5px 8px rgb(0 0 0 / 50%);
    }

.darkmode .topic_list_card {
    background: var(--priamry-background-color);
    box-shadow: inset 0px 0px 10px 0px rgb(256 256 256 / 30%);
}

    .darkmode .topic_list_card:hover {
        box-shadow: 0px 0px 10px 5px rgb(256 256 256 / 30%)
    }

.list_card_image {
    padding: 0.5rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img_top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.darkmode .card_img_top {
    filter: invert(1);
}

.list_item_text {
    width: 100%;
    padding-bottom: 0.4rem;
}

    .list_item_text h2 {
        font-size: 14px;
        color: var(--text-primary-color);
        width: 100%;
        display: inline-block;
    }

        .list_item_text h2:hover {
            color: var(--text-highlight-color);
            width: 100%;
            display: inline-block;
        }

/************* Topic List *************/


/************* Topic Detail *************/

.topic_detail_main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-wrap: nowrap;
}

.topic_detail {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.detail_description {
    width: 70%;
    margin-right: 10px;
    padding: 10px;
}

    .detail_description h2 {
        color: var(--text-highlight-color);
        text-indent: 24px;
    }

    .detail_description p {
        text-indent: 25px;
    }

.detail_panel_wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}

.detail_panel {
    display: flex;
    flex-direction: column;
    width: auto;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}

.darkmode .detail_panel {
    background-color: var(--primary-background-color);
    box-shadow: 0 5px 8px rgb(256 256 256 / 30%);
}

.detail_image img {
    padding: 20px;
    width: 100%;
    height: 300px;
}

.darkmode .detail_image img {
    filter: invert(1);
}

.detail_info {
    display: flex;
    flex-direction: column;
}

div.detail_info_text .detail_info_header {
    color: var(--text-highlight-color) !important;
}

.detail_info_text span, .detail_info_text a {
    color: var(--text-primary-color);
}

    .detail_info_text a:hover {
        color: var(--text-highlight-color);
    }

.detail_info_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .detail_info_img img {
        padding: 20px;
        width: 80%;
    }

.darkmode .detail_info_img img {
    filter: invert(1);
}

.detail_info_btn {
    margin-top: 20px;
}

.detail_create_btn {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    border: none;
    color: white;
}

    .detail_create_btn:hover {
        background: linear-gradient(to right, #005aa7, #fffde4);
        color: var(--text-highlight-color);
    }

/************* Topic Detail *************/


/************* Create Animation *************/

.main .create_animation_main {
    display: flex;
    width: 100%
}

.create_animation_main .create_form_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create_animation_main .create_video_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************* Create Animation *************/