{% extends "shared/layout.html" %}

{% block content %}

<div class="container">
    <div class="d-flex">
        <div>
            <p style="color:wheat; white-space:pre-wrap">
                Manim is a free and open-source Python library used for creating mathematical expressions, diagrams, and animations. Manim stands for "Mathematical Animation Engine." It was developed by Grant Sanderson, the creator of the popular YouTube channel 3Blue1Brown.
            </p>
            <p style="color:wheat">
                Manim can be used for scientific presentations, educational videos, research projects, and interactive media. It is a powerful tool for visualizing mathematical expressions, theorems, and concepts. It is particularly favored for creating impressive animations to explain complex mathematical concepts.
            </p>

        </div>
        <div>
            <img style="width:256px; height:192px; transform: scale(1.5);" src="https://docs.manim.community/en/stable/_static/manim-logo-sidebar-dark.svg" />
        </div>
    </div>
    <div>
        <p style="color:wheat">
            Manim is written in the Python programming language, and animations are created using a simple text-based scripting language. Users interact with it by writing Python code to manipulate scene objects, frames, animations, and transitions. Manim offers a range of features, including animating shapes and text, camera movements, object positioning on the scene, and creating coordinate systems and graphs.
        </p>
        <p style="color:wheat">
            The flexibility of Manim allows users to create customized animations. Animations can be converted into videos or shown in real-time for live presentations. Manim is of great value to those who want to create educational content in fields such as mathematics, physics, computer science, and engineering.
        </p>
        <p style="color:wheat">
            While Manim doesn't have a user-friendly interface, it has a large community and online documentation, examples, and tutorials are available. Additionally, there are high-level tools and libraries developed for Manim, making it more accessible for users.
        </p>
    </div>
</div>

{% endblock %}