{% extends "shared/layout.html" %}

{% block content %}

<div class="container">
    <p style="color:wheat">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tristique sem. Cras ornare neque suscipit faucibus viverra. Nam scelerisque vulputate porttitor. In hac habitasse platea dictumst. Curabitur quis odio dolor. Donec vehicula rhoncus interdum. Integer sit amet urna tincidunt, feugiat nibh non, eleifend lorem. Etiam a magna vitae ex convallis porttitor eget a elit. Quisque gravida dolor mauris, at finibus purus imperdiet vitae. Fusce lobortis gravida massa, a porttitor nulla congue at.
    </p>
    <p style="color:wheat">
        Cras odio tortor, luctus a lacinia a, interdum eu elit. Sed congue euismod dapibus. Nam fringilla pharetra consectetur. Vestibulum augue erat, accumsan ut gravida vitae, pellentesque consectetur sem. Nulla nec sapien et neque accumsan molestie. Fusce accumsan pharetra nibh eget luctus. Ut ullamcorper sapien blandit interdum tincidunt. Sed mattis eleifend quam, ut scelerisque neque luctus et. Nunc et rutrum nisi, et imperdiet augue.
    </p>
    <p style="color:wheat">
        Nullam eu aliquet ligula. Donec nec molestie tortor. Vivamus egestas quam id magna feugiat iaculis. Aenean at dui pellentesque, venenatis dolor non, lobortis libero. Duis ut nisi ac justo molestie tristique. Curabitur posuere vitae risus in euismod. Proin sit amet velit eu leo blandit pellentesque. Vivamus et risus quis augue sodales varius. Nulla pulvinar lectus in erat cursus, ac condimentum augue interdum. Etiam eleifend mi nec consequat egestas. Nulla facilisis semper maximus. In semper imperdiet consequat. Vivamus a eros justo. Nullam condimentum fermentum sem vel interdum.
    </p>
    <p style="color:wheat">
        Nulla commodo urna ut nisi lobortis, ac sollicitudin tellus fringilla. Morbi non dapibus neque, non dignissim augue. Etiam ornare eget ipsum in efficitur. Sed volutpat maximus dui, sodales auctor nisl accumsan vel. In congue risus a accumsan aliquam. Praesent eget facilisis mi, eu aliquam diam. Nam pretium sapien felis. Sed ac velit non arcu dapibus dignissim facilisis ut ipsum. Vivamus vel eleifend erat, at placerat ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
    <p style="color:wheat">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus commodo tellus a libero dictum, sit amet placerat ipsum rutrum. Donec hendrerit pretium scelerisque. Vestibulum pellentesque commodo quam id tincidunt. Proin sed risus quis urna pellentesque elementum. Maecenas id lorem vehicula magna pellentesque sagittis nec vitae est. Ut tempus lorem libero, nec dignissim ligula efficitur lacinia. Sed rhoncus quis ipsum sit amet vulputate. Donec eget nisl eu arcu volutpat commodo eu sed dolor.
    </p>
</div>

{% endblock %}