<header>
    <nav id="navbar" class="navbar navbar-expand-md navbar-toggleable-sm">
        <div class="container">
            <a class="navbar-brand" style="color:wheat" href="{% url 'home' %}">
                <img class="navbar-logo" src="../../static/media/img/MANIMath_logo.png" alt="">MANIMath
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#fff; border:hidden; font-size:28px;"></i>
                </span>
            </button>
            <div class="nav_collapse navbar-collapse collapse d-md-inline-flex justify-content-between">
                <div class="navbar_right">
                    <ul class="navbar-nav flex">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Functions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar_left">

                </div>
            </div>
        </div>
    </nav>
</header>